footer {
    position: fixed;
    left: 0;
    background-color: #333;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}   
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #00aced;  
  }
  
 