* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  /* height: 100%; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  overflow-x: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: rgb(242, 250, 250);
}

.hero-img {
  width: 60%;
  height: 70vh;
  margin-top: 10vh;
  display: block;
}

.hero-content h1 {
  position: absolute;
  top: 5vh;
  right: 5vh;
  transform: none;
  color: rgb(6, 36, 82);
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

.hero-content p {
  position: absolute;
  top: 25vh;
  right: 30vh;
  font-size: 2.5rem;
  color: rgb(6, 36, 82);
  margin: 0;
  line-height: 1.6;
  opacity: 0;
  animation: fadeIn 1s ease-out 1s forwards;
}

.book-btn {
  padding: 12px 40px;
  font-size: 1.6rem;
  background-color: #1d51c0;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 25vh;
  margin-right: 42vh;
  position: absolute;
  top: calc(5vh + 4rem + 1.2rem + 20px);
  right: 5vh;
  opacity: 0;
  animation: fadeIn 1s ease-out 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

.book-btn:hover {
  background-color: #103481;
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1540px) {
  .hero {
    height: 60vh;
  }
  .hero-img {
    width: 75%;
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 4rem;
    top: 5vh;
    right: 5vh;
  }

  .hero-content p {
    font-size: 2.5rem;
    top: 20vh;
    right: 15vh;
  }

  .book-btn {
    font-size: 1.8rem;
    padding: 10px 30px;
    margin-top: 15vh;
    margin-right: 25vh;
  }
}
@media (max-width: 1360px) {
  .hero {
    height: 50vh;
  }
  .hero-img {
    width: 80%;
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2.8rem;
    top: 5vh;
    right: 5vh;
  }

  .hero-content p {
    font-size: 1.9rem;
    top: 15vh;
    right: 13.5vh;
  }

  .book-btn {
    font-size: 1.3rem;
    padding: 10px 30px;
    margin-top: 9vh;
    margin-right: 18vh;
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 50vh;
  }
  .hero-img {
    width: 80%;
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2rem;
    top: 5vh;
    right: 5vh;
  }

  .hero-content p {
    font-size: 1.5rem;
    top: 14vh;
    right: 10vh;
  }
  .book-btn {
    font-size: 1.3rem;
    padding: 10px 30px;
    margin-top: 9vh;
    margin-right: 10vh;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 45vh;
  }
  .hero-img {
    width: 90%;
    height: 45vh;
  }

  .hero-content h1 {
    font-size: 1.5rem;
    top: 5vh;
    right: 5vh;
  }

  .hero-content p {
    font-size: 1.1rem;
    top: 12vh;
    right: 10vh;
  }

  .book-btn {
    font-size: 1rem;
    padding: 10px 30px;
    margin-top: 8vh;
    margin-right: 8vh;
  }
}

@media (max-width: 600px) {
  .hero {
    height: 40vh;
  }
  .hero-img {
    width: 100%;
    height: 40vh;
  }

  .hero-content h1 {
    font-size: 1rem;
    top: 5vh;
    right: 5vh;
  }

  .hero-content p {
    font-size: 0.8rem;
    top: 10vh;
    right: 7vh;
  }

  .book-btn {
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 0.4vh;
    margin-right: 2vh;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 35vh;
  }
  .hero-img {
    width: 100%;
    height: 35vh;
  }

  .hero-content h1 {
    font-size: 0.9rem;
    top: 3vh;
    right: 3vh;
  }

  .hero-content p {
    font-size: 0.7rem;
    top: 8vh;
    right: 5vh;
  }

  .book-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
    margin-top: 0.1vh;
    margin-right: 0.5vh;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  font-family: Arial, sans-serif;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: #2196f3;
  text-align: center;
  padding: 5px;
}

footer a {
  color: #2196f3;
  font-weight: normal;
  text-decoration: none;
}

footer a:hover {
  color: lightgray;
}
.footer-section.contact-info {
  text-align: left;
  margin-left: 5px;
}
.footer-icons a {
  text-align: right;
  margin-right: 10px;
  color: #2196f3;
  font-size: 1.2em;
  text-decoration: none;
}
.fa-facebook {
  background-color: #1877f2;
  color: white;
}
.fa-instagram {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(45deg, #feda75, #d62976, #962fbf);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.2s;
}
.fa-linkedin {
  background-color: #0077b5;
  color: white;
}
.fa {
  padding: 5px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.footer-icons {
  display:inline-block;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  margin-right: 20px;
}
.footer-icons a:hover {
  color: #2196f3;
}
.followUS {
  margin-top: 10px;
  font-size: 18px;
  color: #2196f3;
}
.socialMedia {
  font-size: 18px;
  display: flex;
  margin: 5px;
  position: right;
  text-align: right;
  color: #2196f3;
}
/*.footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
}

.footer-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a:hover {
    color: #007BFF;
}

@media (max-width: 768px) {
    .footer {
        padding: 15px 5px;
    }

    .footer-icons a {
        font-size: 1em;
    }
}*/
.contact-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-self: left;
}
  .RightsReserved {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #2196f3;
  width: max-content;
}
.contact-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .footer-icons {
    justify-content: center;
    align-items: center;
    margin-right: 0;
    gap: 8px;
  }
  footer {
    flex-direction: column;
    padding: 10px 2px;
  }
}

@media (max-width: 480px) {
  .footer-icons {
    flex-direction: column;
    gap: 5px;
  }
  footer {
    font-size: 0.9em;
    padding: 8px 1px;
  }
}

nav {
  top: 0;
  left: 0;
  right: 0;
  color: #2196f3;
  font-size: 18px;
  height: 9.6vh;
  width: 100%;
  display: flex;
  align-self: center;
  justify-self: center;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  transition: color 0s ease-in-out;
  transition: background-color 0s ease-in-out;
  z-index: 1;
}

.link {
  background-color: inherit;
  color: inherit;
}

.scrolledNav {
  background-color: #2196f3;
  color: #ffffff;
}

#logoDiv,
#logoLink {
  position: relative;
  height: 9.5vh;
}

#logoPic {
  position: absolute;
  height: inherit;
  width: inherit;
}

#menuDiv {
  width: 90%;
  display: flex;
  justify-content: center;
}

#menuLinks {
  padding-left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 40%;
}

.menuLink {
  display: inline;
  padding: 0.5%;
  margin-top: 7px;
}

.menuLink:hover {
  border-bottom: 2px solid;
}

a {
  text-decoration: none;
  font-weight: 600;
}

#menuToggle {
  display: none;
  font-size: 30px;
  background-color: inherit;
  color: inherit;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

.switch {
  font-size: 11px;
  position: relative;
  display: inline-block;
  width: 38px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #87ceeb;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: yellow;
  transition: 0.4s;
}

.switch input:checked + .slider:before {
  background-color: rgb(75, 13, 126);
  border-radius: 50px;
  box-shadow: inset 9px 0px 1px 0px rgb(230, 191, 0);
}

.switch input:checked + .slider {
  background-color: rgb(75, 13, 126);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #87ceeb;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

#settingsDiv {
  width: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 21px;
  border-radius: 5px;
  margin-top: 5px;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.dropdown-toggle img {
  border-radius: 5px;
  margin-bottom: 8px;
  width: 28px;
  height: 21px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  top: 28px;
  margin-left: -3px;
  padding: 0;
}

.dropdown-menu a {
  color: black;
  padding: 3px;
  text-decoration: none;
  display: block;
  width: 34px;
  height: 30px;
}

.dropdown-menu a img {
  width: 28px;
  height: 21px;
  object-fit: cover;
  border-radius: 5px;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.menuLinkSettings:hover {
  border-bottom: 0;
}

.menuLinkSettings {
  margin-top: -2px;
}

#dropdownToggle {
  margin-top: 2px;
}

/* Responsive nav-bar */
@media (max-width: 1300px) {
  #menuDiv {
    width: 85%;
  }

  #menuLinks {
    margin-left: 20%;
  }

  .menuLinkSettings {
    margin-top: 0px;
  }
}

@media (max-width: 1100px) {
  nav {
    font-size: 16px;
  }

  #menuDiv {
    width: 80%;
  }

  #menuLinks {
    margin-left: 25%;
  }

  #dropdownToggle {
    margin-top: 0px;
  }
}

@media (max-width: 1000px) {
  nav {
    justify-content: space-around;
  }

  #menuToggle {
    display: block;
    margin-left: 50%;
  }

  #menuDiv.show {
    display: flex;
  }

  #menuLinks {
    flex-direction: column;
    align-items: end;
    background-color: inherit;
    color: inherit;
    width: 100%;
  }

  #menuDiv {
    display: none;
    position: absolute;
    height: 300px;
    padding: 0%;
    margin-top: 370px;
    padding-right: 50px;
    color: #2196f3;
    width: 100%;
    font-size: 18px;
    float: left;
    justify-content: center;
    flex-direction: row;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }
}
